# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
TestResults

#Project specific ignores
lib/*.dll
lib/*.pdb

# NuGet ignores
.nuget/

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config

# Build ignores
/msbuild.log
/artifacts
build/environment.props
Packages.dgml
sha.txt

# NCrunch files
*.ncrunchsolution
*.ncrunchproject
nCrunchTemp_*
*NCrunch*
# Visual Studio 2015 files
.vs/

