# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
distr

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
TestResults

#Project specific ignores
build/environment.props
lib/*.dll
lib/*.pdb
lib/*.xml
lib/*.lic
/packages

# Build ignores
/msbuild.log
/artifacts
*.ncrunchproject
*.ncrunchsolution
