<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  Used to specify the default Sources for list, install and update.
  -->
  <packageSources>
    <add key="Sitecore Public NuGet v2" value="https://sitecore.myget.org/F/sc-packages/" />
    <add key="Sitecore Public NuGet v3" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="MSbuild Local References" value="%BUILD_SOURCESDIRECTORY%\lib\Packages" />
    <add key="Local References" value="lib\Packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>