<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="packageInstallation" type="Sitecore.Ship.Infrastructure.Configuration.PackageInstallationConfiguration, Sitecore.Ship.Infrastructure"/>
  </configSections>
  <packageInstallation enabled="true" allowRemote="true" allowPackageStreaming="true" recordInstallationHistory="true">
    <Whitelist>
      <add name="Allowed machine 1" IP="1.2.3.4"/>
      <add name="Allowed machine 2" IP="2.3.4.5"/>
    </Whitelist>
  </packageInstallation>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
